body {
  background: linear-gradient(red, blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 97.5vh;
}
input {
  height: 30px;
}
button {
  height: 35px;
  background-color: lightgreen;
}
button:hover {
  background-color: green;
}
#weight-condition {
  color: white;
}
footer {
  color: white;
}
h2 {
  color: white;
}
.container {
  padding: 10px;
  border: 5px solid rgb(215, 6, 215);
}
